<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

     th:replace="~{ base :: Layout(~{::title}, ~{::section} )}" >
<head>
	<meta charset="UTF-8" />
	<title>addNotes</title>
	
	 <link rel="stylesheet" th:href="@{/css/sample.css}" />
</head>
<body>
	 <section>
	    <div class="container mt-2">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="card">
						<div id="blink-text" class="card-header  text-center">
						<img src="/img/addNote.jpg" alt="" height="50%" width="20%">
							<h3>Add Your Notes</h3>
						</div>
						     
                  
					
					<div class="card-body">

						<form action="/saveNoteParam" method="post" th:object="${note}">

							<!-- Input field for title -->
							<div class="mb-3">
								<label for="title">Enter Title</label> 
								<input type="text" id="title" name="title" class="form-control"  th:field="*{title}">
							</div>


							<!-- Input field for Description -->
							<div class="mb-3">
								<label for="description">Enter Description</label> 
								<textarea name="description" id="" cols="" rows="6" class="form-control" th:field="*{description}"></textarea>	
						     </div>
                           
							<!-- Submit and Reset buttons -->
							<div class="mb-3">
								<button class="btn btn-primary mt-4 " type="submit" onclick="showSuccessMessage()">Save</button>
								
							</div>
						</form>
						 
						 <!-- Add this block to display error messages -->
                   <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                  <p th:text="${errorMessage}"></p>
                </div>

           <!-- Add this block to display success messages -->
            <div th:if="${successMessage}" class="alert alert-success" role="alert">
              <p th:text="${successMessage}"></p>
                </div>
						 
					</div>
					</div>
				</div>
			</div>
		</div>
		
	 
	 </section>
	<script th:src="@{/js/ckeditor.js}"></script>
	 <!-- Add JavaScript to show success message -->
    
	
</body>
</html>